<div class="dashboard_sidebar_menu dn-992">
    <ul class="sidebar-menu">
        <li class="header" style="font-size:x-large;"><img src="../../assets/images/header-logo2.png" style="width:40px;" alt="header-logo2.png"> Task Management</li>        <li class="title"><span>Tâches</span></li>
        <li><a routerLink='/tasks-list'><i class="flaticon-layers"></i><span> Liste Tâches</span></a></li>
        <li><a routerLink='/add-task-gerant'><i class="flaticon-plus"></i> <span>Ajouter Tâche</span></a></li>
        <li><a routerLink='/affectation-taches-gerant'><i class="flaticon-invoice"></i> <span> Affectation Tâches</span></a></li>
        <li><a routerLink='/list-commerciale-gérant'><i class="flaticon-invoice"></i> <span> Liste Commerciaux</span></a></li>
        <li class="title"><span>Clients</span></li>
        <li><a routerLink='/list-clients-gerant'><i class="flaticon-user-1"></i><span> Liste Clients</span></a></li>
        <li class="title"><span>Gérer Compte</span></li>
        <li><a routerLink='/profile' ><i class="flaticon-user"></i> <span>Mon Profil</span></a></li>
        <li><a routerLink='/home'><i class="flaticon-logout"></i> <span>Se déconnecter</span></a></li>
    </ul>
</div>