<app-sidebar-admin></app-sidebar-admin>
<header class="header-nav menu_style_home_one style2 navbar-scrolltofixed stricky main-menu">
    <div class="container-fluid p0">
        <!-- Ace Responsive Menu -->
        <nav>
            <!-- Menu Toggle btn-->
            <div class="menu-toggle">
                <img class="nav_logo_img img-fluid" src="../assets/images/header-logo.png" alt="header-logo.png">
                <button type="button" id="menu-btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a href="#" class="navbar_brand float-left dn-smd">
                <img class="logo1 img-fluid" src="../assets/images/header-logo2.png" alt="header-logo.png">
                <img class="logo2 img-fluid" src="../assets/images/header-logo2.png" alt="header-logo2.png">
                <span>FindHouse</span>
            </a>
            <!-- Responsive Menu Structure-->
            <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
            <ul id="respMenu" class="ace-responsive-menu text-left" data-menu-style="horizontal">
                <li>
                    <a href=""><span class="title" style="padding-left: 50px;"><b>Interface Admin | </b></span></a>
                </li>
                <li>
                    <span class="title" style="padding-left: 50px;">Bonjour, Foulen Ben Foulen</span>
                </li>
            </ul>
        </nav>
    </div>
</header>
<section class="our-dashbord dashbord bgc-f7 pb50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xl-2 dn-992 pl0"></div>
            <div class="col-sm-12 col-lg-8 col-xl-10 maxw100flex-992">
                <div class="row">
                    <div class="col-lg-8 col-xl-9 mb10">
                        <div class="breadcrumb_content style2">
                            <h2 class="breadcrumb_title">Feedback Clients</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="myreview" class="my_dashboard_review">
                            <div class="review_content">
                                <h5 class="review_title mt-0 text-thm">Client 1</h5>
                                <div class="media pb30 mt30 bb1">
                                    <div class="media-body">
                                        <p class="para">Beautiful home, very picturesque and close to everything in
                                            jtree! A little warm for a hot weekend, but would love to come back
                                            during the cooler seasons! Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Accusantium voluptates eum, velit recusandae, ducimus
                                            earum aperiam commodi error officia optio aut et quae nam nostrum!</p>
                                            <ul class="view_edit_delete_list mb0 mt35">
                                                <li class="list-inline-item" data-toggle="tooltip" data-placement="top"
                                                    title="Voir Plus"><a href="#"><span class="flaticon-view"></span></a>
                                                </li>
                                                <li class="list-inline-item" data-toggle="tooltip" data-placement="top"
                                                    title="Supprimer"><a href="#"><span class="flaticon-garbage"></span></a>
                                                </li>
                                            </ul>
                                    </div>
                                </div>
                                <br>
                                <h5 class="review_title mt-0 text-thm">Client 2</h5>
                                <div class="media pb30 mt30 bb1">
                                    <div class="media-body">
                                        <p class="para">Beautiful home, very picturesque and close to everything in
                                            jtree! A little warm for a hot weekend, but would love to come back
                                            during the cooler seasons! Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Accusantium voluptates eum, velit recusandae, ducimus
                                            earum aperiam commodi error officia optio aut et quae nam nostrum!</p>
                                            <ul class="view_edit_delete_list mb0 mt35">
                                                <li class="list-inline-item" data-toggle="tooltip" data-placement="top"
                                                    title="Voir Plus"><a href="#"><span class="flaticon-view"></span></a>
                                                </li>
                                                <li class="list-inline-item" data-toggle="tooltip" data-placement="top"
                                                    title="Supprimer"><a href="#"><span class="flaticon-garbage"></span></a>
                                                </li>
                                            </ul>
                                    </div>
                                </div>
                                <br>
                                <h5 class="review_title mt-0 text-thm">Client 3</h5>
                                <div class="media pb30 mt30 bb1">
                                    <div class="media-body">
                                        <p class="para">Beautiful home, very picturesque and close to everything in
                                            jtree! A little warm for a hot weekend, but would love to come back
                                            during the cooler seasons! Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Accusantium voluptates eum, velit recusandae, ducimus
                                            earum aperiam commodi error officia optio aut et quae nam nostrum!</p>
                                            <ul class="view_edit_delete_list mb0 mt35">
                                                <li class="list-inline-item" data-toggle="tooltip" data-placement="top"
                                                    title="Voir Plus"><a href="#"><span class="flaticon-view"></span></a>
                                                </li>
                                                <li class="list-inline-item" data-toggle="tooltip" data-placement="top"
                                                    title="Supprimer"><a href="#"><span class="flaticon-garbage"></span></a>
                                                </li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="row mt50">
                    <div class="col-lg-12">
                        <div class="copyright-widget text-center">
                            <p>© 2021 Task Management. Made By Nawress JEDIDI & Hela OUESLATI.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>