<section class="our-dashbord dashbord bgc-f7 pb50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xl-2 dn-992 pl0"></div>
            <div class="col-sm-12 col-lg-8 col-xl-10 maxw100flex-992">
                <div class="row">
                    <div class="col-lg-4 col-xl-4 mb10">
                        <div class="breadcrumb_content style2 mb30-991">
                            <h2 class="breadcrumb_title">Mes Tâches</h2>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-8">
                        <div class="candidate_revew_select style2 text-right mb30-991">
                            <ul class="mb0">
                                <li class="list-inline-item">
                                    <div class="candidate_revew_search_box course fn-520">
                                        <form class="form-inline my-2">
                                            <input class="form-control mr-sm-2" type="search"
                                                   placeholder="Rechercher Tâche" aria-label="Search">
                                            <button class="btn my-2 my-sm-0" type="submit"><span
                                                    class="flaticon-magnifying-glass"></span></button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="my_dashboard_review mb40">
                            <div class="col-lg-12">
                                <div class="savesearched_table">
                                    <div class="table-responsive mt0">
                                        <table class="table">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Nom et Prénom</th>
                                                <th class="dn-lg" scope="col"></th>
                                                <th scope="col">Date Début</th>
                                                <th class="dn-lg" scope="col">Date Fin</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col">État Tâche</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th class="title" scope="row">List London</th>
                                                <td class="dn-lg"></td>
                                                <td class="para">December 30, 2019</td>
                                                <td class="dn-lg"></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                      </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="title" scope="row">List London</th>
                                                <td class="dn-lg"></td>
                                                <td class="para">December 30, 2019</td>
                                                <td class="dn-lg"></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                      </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="title" scope="row">List London</th>
                                                <td class="dn-lg"></td>
                                                <td class="para">December 30, 2019</td>
                                                <td class="dn-lg"></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                      </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="title" scope="row">List London</th>
                                                <td class="dn-lg"></td>
                                                <td class="para">December 30, 2019</td>
                                                <td class="dn-lg"></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                      </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="title" scope="row">List London</th>
                                                <td class="dn-lg"></td>
                                                <td class="para">December 30, 2019</td>
                                                <td class="dn-lg"></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                      </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="title" scope="row">List London</th>
                                                <td class="dn-lg"></td>
                                                <td class="para">December 30, 2019</td>
                                                <td class="dn-lg"></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <label class="switch">
                                                        <input type="checkbox" id="check1">
                                                        <span class="slider round"></span>
                                                      </label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-lg-12">
                        <div class="copyright-widget text-center">
                            <p>© 2021 Task Management. Made By Nawress JEDIDI & Hela OUESLATI.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>