<section class="our-dashbord dashbord bgc-f7 pb50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xl-2 dn-992 pl0"></div>
            <div class="col-lg-9 col-xl-10 maxw100flex-992">
                <div class="row">
                    <div class="col-lg-12 mb10">
                        <div class="breadcrumb_content style2">
                            <h2 class="breadcrumb_title">Mon Profil</h2>
                            <p>Nous somme heureux de vous revoir!</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="my_dashboard_review">
                            <div class="row">
                                <div class="col-xl-2">
                                    <h4>Informations du compte</h4>
                                </div>
                                <div class="col-xl-10">
                                    <div class="row">
                                        
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="my_profile_setting_input form-group">
                                                <label for="formGroupExampleInput1">Username</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput1" placeholder="FouLeN">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="my_profile_setting_input form-group">
                                                <label for="formGroupExampleEmail">Email</label>
                                                <input type="email" class="form-control" id="formGroupExampleEmail" placeholder="foulen.ben@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="my_profile_setting_input form-group">
                                                <label for="formGroupExampleInput3">Nom</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Foulen">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="my_profile_setting_input form-group">
                                                <label for="formGroupExampleInput4">Prénom</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Ben Foulen">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 text-right">
                                            <div class="my_profile_setting_input">
                                                <button class="btn btn2">Modifier</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="my_dashboard_review mt30">
                            <div class="row">
                                <div class="col-xl-2">
                                    <h4>Changer mot de passe</h4>
                                </div>
                                <div class="col-xl-10">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="my_profile_setting_input form-group">
                                                <label for="formGroupExampleOldPass">Ancien mot de passe</label>
                                                <input type="text" class="form-control" id="formGroupExampleOldPass" placeholder="alitfn">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="my_profile_setting_input form-group">
                                                <label for="formGroupExampleNewPass">Nouveau mot de passe</label>
                                                <input type="text" class="form-control" id="formGroupExampleNewPass">
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="my_profile_setting_input float-right fn-520">
                                                <button class="btn btn3 btn-dark">Modifier mot de passe</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- Dashboard Footer Section -->
            </div>
        </div>
    </div>
</section>