<app-sidebar-admin></app-sidebar-admin>
<header class="header-nav menu_style_home_one style2 navbar-scrolltofixed stricky main-menu">
    <div class="container-fluid p0">
        <!-- Ace Responsive Menu -->
        <nav>
            <!-- Menu Toggle btn-->
            <div class="menu-toggle">
                <img class="nav_logo_img img-fluid" src="../assets/images/header-logo.png" alt="header-logo.png">
                <button type="button" id="menu-btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a href="#" class="navbar_brand float-left dn-smd">
                <img class="logo1 img-fluid" src="../assets/images/header-logo2.png" alt="header-logo.png">
                <img class="logo2 img-fluid" src="../assets/images/header-logo2.png" alt="header-logo2.png">
                <span>FindHouse</span>
            </a>
            <!-- Responsive Menu Structure-->
            <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
            <ul id="respMenu" class="ace-responsive-menu text-left" data-menu-style="horizontal">
                <li>
                    <a href=""><span class="title" style="padding-left: 50px;"><b>Interface Admin | </b></span></a>
                </li>
                <li>
                    <span class="title" style="padding-left: 50px;">Bonjour, Foulen Ben Foulen</span>
                </li>
            </ul>
        </nav>
    </div>
</header>
<section class="our-dashbord dashbord bgc-f7 pb50">
    <div class="container-fluid ovh">
        <div class="row">
            <div class="col-lg-3 col-xl-2 dn-992 pl0"></div>
            <div class="col-lg-9 col-xl-10 maxw100flex-992">
                <div class="row">
                    <div class="col-lg-12 mb10">
                        <div class="breadcrumb_content style2">
                            <h2 class="breadcrumb_title">Ajouter un nouveau employé</h2>
                        </div>
                    </div>
                    <form class="col-lg-12" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit1()" #f="ngForm" novalidate>
                        <div class="my_dashboard_review">
                            <div class="row">
                                <div class="col-lg-6 col-xl-6">
                                    <div class="my_profile_setting_input form-group">
                                        <label for="formGroupExampleArea">Nom</label>
                                        <input type="text" class="form-control" id="formGroupExampleArea" name="nom" [(ngModel)]="form.nom" required minlength="3" maxlength="20" #nom="ngModel">
                                        <div class="alert-danger" *ngIf="nom.errors && f.submitted">
                                            <div *ngIf="nom.errors.required">Username is required</div>
                                            <div *ngIf="nom.errors.minlength">
                                              Nom must be at least 3 characters
                                            </div>
                                            <div *ngIf="nom.errors.maxlength">
                                              Nom must be at most 20 characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6">
                                    <div class="my_profile_setting_input form-group">
                                        <label for="formGroupExampleArea">Prénom</label>
                                        <input type="text" class="form-control" id="formGroupExampleArea" name="prenom" [(ngModel)]="form.prenom" required minlength="3" maxlength="20" #prenom="ngModel">
                                        <div class="alert-danger" *ngIf="prenom.errors && f.submitted">
                                            <div *ngIf="prenom.errors.required">Prenom is required</div>
                                            <div *ngIf="prenom.errors.minlength">
                                              Prenom must be at least 3 characters
                                            </div>
                                            <div *ngIf="prenom.errors.maxlength">
                                              Prenom must be at most 20 characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6">
                                    <div class="my_profile_setting_input form-group">
                                        <label for="formGroupExampleArea">Email</label>
                                        <input type="email" class="form-control" id="formGroupExampleArea" name="email" [(ngModel)]="form.email" required minlength="3" maxlength="20" #email="ngModel">
                                        <div class="alert-danger" *ngIf="email.errors && f.submitted">
                                            <div *ngIf="email.errors.required">Email is required</div>
                                            <div *ngIf="email.errors.email">
                                              Email must be a valid email address
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6">
                                    <div class="my_profile_setting_input form-group">
                                        <label for="formGroupExampleArea">Username</label>
                                        <input type="text" class="form-control" id="formGroupExampleArea" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel">
                                        <div class="alert-danger" *ngIf="username.errors && f.submitted">
                                            <div *ngIf="username.errors.required">Username is required</div>
                                            <div *ngIf="username.errors.minlength">
                                              Username must be at least 3 characters
                                            </div>
                                            <div *ngIf="username.errors.maxlength">
                                              Username must be at most 20 characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6">
                                    <div class="my_profile_setting_input form-group">
                                        <label for="formGroupExampleArea">Password</label>
                                        <input type="password" class="form-control" id="formGroupExampleArea" name="password" [(ngModel)]="form.password" required minlength="3" maxlength="20" #password="ngModel">
                                        <div class="alert-danger" *ngIf="password.errors && f.submitted">
                                            <div *ngIf="password.errors.required">Password is required</div>
                                            <div *ngIf="password.errors.minlength">
                                              Password must be at least 6 characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6">
                                    <div class="my_profile_setting_input form-group">
                                        <label for="formGroupExampleArea">Rôle</label>
                                        <div class="form-group ui_kit_select_search mb0">
                                            <select class="selectpicker" data-width="100%" class="form-control" name="roles" [(ngModel)]="form.roles" required minlength="3" maxlength="20" #roles="ngModel">
                                                <option data-tokens="Agent/Admin" >Admin</option>
                                                <option data-tokens="Agent/Gerant" >Gérant</option>
                                                <option data-tokens="Agent/Commerciale" >Commerciale</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="my_profile_setting_input">
                                        <button class="btn btn2 float-right" type="submit">AJOUTER</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row mt50">
                    <div class="col-lg-12">
                        <div class="copyright-widget text-center">
                            <p>© 2021 Task Management. Made By Nawress JEDIDI & Hela OUESLATI.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>